<!DOCTYPE html>
<html>
    <head>
        <title>My Website!</title>
    </head>
    <body>
        <h1>ADD ITEMS<h1>
        <form action="{{ url_for('addItemSuccess') }}" method="get">
            <input type="text" name="MaH" placeholder="Enter mã hàng" required>
            <br>
            <input type="text" name="TenH" placeholder="Enter tên hàng" required>
            <br>
            <input type="text" name="Gia" placeholder="Enter số giá" required>
            <br>
            <input type="text" name="Made_in" placeholder="Enter nơi sản xuất" required>
            <br>
            <input type="text" name="Note" placeholder="Enter ghi chú">
            <br>
            <button>Add Items</button>
        </form>
    </body>
</html>
